.graphic-plane-xline, .graphic-plane-yline {
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.3
}
.graphic-plane-yline {
  width: 1px;
}
.graphic-plane-xline {
  height: 1px;
}
