.home {
  font-size: 14px;
}
h1 {
  max-width: 300px;
  text-align: center;
  line-height: 35px;
  font-size: 32px;
  margin-bottom: 15px;
}
.home-graphic {
  padding-top: 15px;
  display: flex;
}
.home__input {
  padding-top: 5px;
  padding-bottom: 7px;
}

.home__input input {
  width: 100%;
  display: block;
}

.have-no-account {
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
}

.home__input__button {
  margin-top: 5px;
  text-align: center;
  width: 100%;
}

@media (max-width: 1217px) {
  .home-graphic {
    display: block;
  }
}

@media (max-width: 671px) {
  .home-table {
    margin-top: 15px;
  }
}
