
.task-image__line {
  background: #000;
  position: absolute;
  z-index: 2;
}
.task-image__line:before, .task-image__line:after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: #000;
}
.task-image__line__mark {
  position: absolute;
  background: #222;
  font-size: 12px;
}
.task-image__line__mark .before {
  position: absolute;
  display: block;
  width: 40px;
  text-align: center;
}

.task-image__line--x {
  width: 100%;
  height: 2px;
  left: 0;
  top: calc(50% - 1px);
}
.task-image__line--x:before {
  top: -4px;
  right: 0;
  transform: rotate(30deg);
}
.task-image__line--x:after {
  top: 4px;
  right: 0;
  transform: rotate(-30deg);
}
.invisible {
  display: none;
}
.task-image__line--x .task-image__line__mark {
  top: -5px;
  height: 11px;
  width: 1px;
}
.task-image__line--x .task-image__line__mark .before {
  top: -16px;
  left: -20px;
}
.task-image__line--x .task-image__line__mark--top {
  left: 10%;
}
.task-image__line--x .task-image__line__mark--htop {
  left: 30%;
}
.task-image__line--x .task-image__line__mark--hbottom {
  right: 30%;
}
.task-image__line--x .task-image__line__mark--bottom {
  right: 10%;
}
.task-image__line--y {
  width: 2px;
  height: 100%;
  left: calc(50% - 1px);
  top: 0;
}
.task-image__line--y:before {
  left: -11px;
  top: 7px;
  transform: rotate(120deg);
}
.task-image__line--y:after {
  left: -3px;
  top: 7px;
  transform: rotate(-120deg);
}
.task-image__line--y .task-image__line__mark {
  left: -5px;
  width: 11px;
  height: 1px;
}
.task-image__line--y .task-image__line__mark .before {
  top: -8px;
  left: 2px;
}
.task-image__line--y .task-image__line__mark--top {
  top: 10%;
}
.task-image__line--y .task-image__line__mark--htop {
  top: 30%;
}
.task-image__line--y .task-image__line__mark--hbottom {
  bottom: 30%;
}
.task-image__line--y .task-image__line__mark--bottom {
  bottom: 10%;
}

