<div class="task-image__line task-image__line--x">
  <div class="task-image__line__mark task-image__line__mark--top"><div class="before">{{ -r }}</div></div>
  <div class="task-image__line__mark task-image__line__mark--bottom"><div class="before">{{ r }}</div></div>
  <div class="task-image__line__mark task-image__line__mark--htop"><div class="before">{{ -r * 0.5 }}</div></div>
  <div class="task-image__line__mark task-image__line__mark--hbottom"><div class="before">{{ r * 0.5 }}</div></div>
</div>
<div class="task-image__line task-image__line--y">
  <div class="task-image__line__mark task-image__line__mark--top"><div class="before">{{ r }}</div></div>
  <div class="task-image__line__mark task-image__line__mark--bottom"><div class="before">{{ -r }}</div></div>
  <div class="task-image__line__mark task-image__line__mark--htop"><div class="before">{{ r * 0.5 }}</div></div>
  <div class="task-image__line__mark task-image__line__mark--hbottom"><div class="before">{{ -r * 0.5 }}</div></div>
</div>
