/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;900&display=swap');

* {
  font-family: 'Hanken Grotesk', sans-serif;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
}
